venv/
.idea/
__pycache__/
*.pyc

Secure_backup_20261003/
Secure_FINAL_BEFORE_CLEANUP_20261005/
Secure_final_working_backup_20261004/
Secure_static_backup_20261003/
Secure_templates_backup_20261003/
Secure_UI_2026/
SecureHealth_Final/

*.zip


DataSecuring/settings_before_github_backup.py

github_settings_block.txt

Securing Data With Blockchain and AI Document/

last_08733072

session.txt

Thumbs.db
Secure/static/*backup*
Secure/templates/*backup*
